<table>
    <tr>
            
        <td class="x">
            <label>Task</label>
            <input placeholder="Type here" type="text" [(ngModel)]="new_objective.name">
        </td>
        <td class="x">
            <label>Category</label>
            <input placeholder="Type here" type="text" [(ngModel)]="new_objective.category">
        </td>
        <td class="x">
            <button class="m_button"(click)="send_request(new_objective)">Send request</button>
        </td>

    </tr>
    <tr>
        <div>
        
            <div *ngFor="let obj of objectives3">
                <h3 style="margin-top: 40px; border: 1px solid white; background-color: rgba(60, 56, 54,0.5); border-radius: 10px"
                > {{obj.category}} </h3>
                <div class="obj_box" *ngFor="let topic of obj.topics">
                <button class="delete_button" (click)="delete2(topic.id)">X</button>{{topic.name}}

                </div>
            </div>
        </div>
    </tr>
    
</table>