<div class="center">
  <div class="grid">
    <div
      *ngFor="let position of board.pieces; let i = index"
      class="position"
      [style.background-color]="getPositionColor(i)"
      mat-raised-button
      (click)="selectPosition(i)"
    >
     <img
        [ngClass]="
          position.fenIdentifier == position.fenIdentifier.toLowerCase() &&
          flippedBlack
            ? 'flippedBlack'
            : ''
        "
        *ngIf="position.fenIdentifier"
        class="img"
        [src]="'assets/chess/' + Mapping[position.fenIdentifier] + '.png'"
      />
    </div>
  </div>
</div>

<br />

<div class="center" *ngIf="isPawnPromotion">
  <app-pawn-promotion
    [visibleIdentifier]="isPawnPromotion"
    (newItemEvent)="onChildItemClicked($event)"
  ></app-pawn-promotion>
</div>

<div class="center">
  <table>
    <tr>
      <button mat-raised-button color="primary" (click)="flipBlack()"><mat-icon aria-hidden="false" fontIcon="swap_vert"></mat-icon>
        Flip Black
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="changePositionManually(-1)"
      >
        <mat-icon aria-hidden="false" fontIcon="undo"></mat-icon>Back
      </button>

      <button mat-raised-button color="primary" (click)="newRandomPuzzle()">
        <mat-icon aria-hidden="false" fontIcon="shuffle"></mat-icon>Random
      </button>

      <button mat-raised-button color="primary" (click)="showSolutionPath()">
        <mat-icon aria-hidden="false" fontIcon="visibility_off"></mat-icon>Solution
      </button>
    </tr>

    <tr>
      {{board.activeColor == 'w'? 'White': 'Black'}} |
      Rating: {{ board.rating? board.rating : 0 }} | 
      Castling: 
      {{ board.castling.whiteKingSide ? 'WK': ''}} 
      {{ board.castling.whiteQueenSide ? 'WQ': ''}}
      {{ board.castling.blackKingSide ? 'BK': ''}}
      {{ board.castling.blackQueenSide? 'BK': '' }}
    </tr>
    <tr *ngIf="isSolutionPathVisible">{{board.solutionPath}}</tr>
  </table>
</div>
