.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100vw;
  height: 100vw;
}
.position {
  background-color: rgba(20, 20, 20, 0.5);
  border: 0.2vw solid rgba(20, 20, 20, 0.5);
  border-radius: 1px;
  display: grid;
  place-items: center;
}

.img {
  width: 8vw;
  height: 8vw;
}

.flippedBlack {
  transform: rotate(-180deg);
}

button{
  margin: 5px 2.5px 5px 2.5px;
}

@media screen and (min-width: 600px) {
  .grid {
    width: 600px;
    height: 600px;
  }
  .img {
    position: absolute;
    width: 6vh;
    height: 6vh;
  }
  .position {
    border: 0.15vh solid rgba(20, 20, 20, 0.5);
  }
}
