.center {
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}

.row {
  display: flex;
}

.tile {
  border: 1px solid #ddd;
  width: 12vw;
  height: 12vw;
  display: grid;
  place-items: center;
}


@media screen and (min-width: 600px) {
  .tile{
    width: 6vw;
    height: 6vw;
  }
}
