.main{
    display: grid;
    grid-template-columns: 15% 85%;

}

.content{
    background-color: rgb(32,32,32);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 98vh;
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .main{
        display: grid;
        grid-template-rows: 15% 85%;
        grid-template-columns:100vw;
    }

  }