.main{
    display: grid;
    grid-template-areas: "nav content";
    grid-template-columns: 15% 85%;
}

.content{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 98vh;
    border-radius: 10px;
}