<div style="display: grid; grid-template-columns: repeat(2, 500px)">
  <div>
    <button
      [style.background-color]="agentColorMapping[item]"
      [style.left]="marbleStyle[i].leftPixel * 1.2 + 'px'"
      [style.top]="marbleStyle[i].topPixel * 1.2 + 'px'"
      style="position: absolute"
      class="marble"
      (click)="clickMarble(i, item)"
      *ngFor="let item of board$ | async; let i = index"
    >
      {{ i }}
    </button>
  </div>
  <div>
    <button mat-raised-button color="default"(click)="resetDefault()">
      <mat-icon fontIcon="arrow_left"></mat-icon>Reset Default
    </button>
    <br /><br />
    <button mat-raised-button color="default">
      <mat-icon fontIcon="shuffle"></mat-icon>Random
    </button>
    <br /><br />
    <button mat-raised-button color="default" (click)="start()">
      <mat-icon fontIcon="touch_app"></mat-icon>Start
    </button>
    <br /><br />
    <button mat-raised-button color="default">
      <mat-icon fontIcon="checklist"></mat-icon>Evaluate Board
    </button>
    <br /><br />

    <button mat-raised-button color="default" (click)="stopGame()">
      <mat-icon fontIcon="delete" ></mat-icon>Stop
    </button>
    <br /><br />

    <button mat-raised-button color="default">+</button>
    <button mat-raised-button color="default">-</button>
  </div>
</div>
