.marble{
    border-radius:20px;
    width: 35px;
    height: 35px;
    border: 1.5px solid rgba(22,22,22,1);
    background-color: transparent;
    font-size: xx-small;
}

.mat-default {
    background-color: rgb(181, 207, 183);
    color: black;
    border: 2px solid black
}

.marker{
    border-color: red;
}

.twoGrids{
    display: grid;
    grid-template-columns: repeat(2, 500px)
}
@media screen and (max-width: 600px) {
    .twoGrids {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(2, 500px);
    }
    .marble{
        width: 30px;
        height: 30px;
    }
  }