<div class="twoGrids">
  <div style="position: relative">
    <button
      [style.background-color]="agentColorMapping[item]"
      [style.left]="marbleStyle[i].leftPixel * scaleFactor + 'px'"
      [style.top]="marbleStyle[i].topPixel * scaleFactor + 'px'"
      style="position: absolute"
      class="marble"
      [ngClass]="canBeTargetLocation.has(i) ? 'marker' : ''"
      (click)="clickMarble(i)"
      *ngFor="let item of drawableBoard$ | async; let i = index"
    >
      {{ i }}
    </button>
  </div>
  <div style="position: relative">
    <button mat-raised-button color="default" (click)="resetDefault()">
      <mat-icon fontIcon="arrow_left"></mat-icon>Reset Default
    </button>
    <br /><br />
    <button mat-raised-button color="default" (click)="randomBoard()">
      <mat-icon fontIcon="shuffle"></mat-icon>Random
    </button>
    <br /><br />
    <button mat-raised-button color="default" (click)="start()">
      <mat-icon fontIcon="touch_app"></mat-icon>Start
    </button>
    <br /><br />
    <button mat-raised-button color="default" (click)="evaluate()">
      <mat-icon fontIcon="checklist"></mat-icon>Evaluate Board
    </button>
    <br /><br />

    <button mat-raised-button color="default" (click)="stopGame()">
      <mat-icon fontIcon="delete"></mat-icon>Stop
    </button>
    <br /><br />

    <button mat-raised-button color="default" (click)="changePlayerAmount(1)">
      +
    </button>
    <button mat-raised-button color="default" (click)="changePlayerAmount(-1)">
      -
    </button>
  </div>
</div>
