th,td{
    border: 2px gray solid;
    width: 20vw;
}
ul{
    margin: 0px
}

li{
    border: 1px gray solid
}

.calendar_grid_container{
    display:grid;
    grid-template-areas:    ". days_header" 
                            "time_numbers events_board";
    grid-template-columns: 10% 90%;
    grid-template-rows: 50px auto;
}

.time_numbers{
    grid-area: time_numbers;

}

.days_header{
    grid-area: days_header;
}

.events_board{
    grid-area: events_board;
}
.bounding_box{
    background-color: red;
}