.background-tile{
    display: grid;
    background-color: rgb(89, 116, 69);
    grid-template-columns: 1fr 4fr;
}

.grid-content{
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    
}

.grid-content-header{
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 20px;
    //background-image: url('../../../assets/zuko_meditation.png');
    background-size: cover;
}

.basic-img{
    border: 2px solid white;
    border-radius: 10px;
}

h1, p{
    font-family: Comfortaa-Regular;
}

.bg{
    color: white; margin: 20px;
}
