.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.center-align{
    display: flex; justify-content: center; align-items: center; color: white;
}
.background-tile{
    width:80%; height:80%;
    place-items: center;
    background-color: rgb(117, 164, 127);
}