.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  width: 100vw;
  height: 100vw;
}

.position {
  border: 0.2vw solid rgba(20, 20, 20, 0.5);
  display: grid;
  place-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(128, 188, 189);
  font-size: x-small;
}

button {
  margin-right: 5px;
}

img {
  width: 12vw;
  height: 12vw;
}

@media screen and (min-width: 600px) {
  .grid {
    width: 600px;
    height: 600px;
  }
  img {
    width: 12vh;
    height: 12vh;
  }
}
