<div class="center">
  <mat-card>
    <mat-card-actions>
      <button
        *ngFor="let item of [+1, -1]"
        mat-raised-button
        color="primary"
        (click)="changeCardAmount(item)"
      >
        {{ item > 0 ? "+"+item : item }}
      </button>
      <button mat-raised-button color="primary" (click)="onOff()">
        On/Off
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<br />
<div class="center">
  <div
    class="grid"
    [ngStyle]="{
      'grid-template-rows': 'repeat(' + gridTemplateRows + ', 1fr)'
    }"
  >
    <div
      class="position"
      *ngFor="let card of board; let i = index"
      (click)="clickTile(i)"
    >
      <img
        *ngIf="card.isVisible"
        [src]="'assets/anno-1800-plants/' + card.element + '.png'"
      />
      <div *ngIf="card.isVisible">
        {{ card.displayName }}
      </div>
    </div>
  </div>
</div>

<br />
