body {
    background-color: black;
    background-image: url("graphics/morning.jpg");
    background-size: cover;
}

.input_box {
    position: relative;
    padding: 0 0 50px;
}

input,
select {
    border: 1px solid gray;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    background-color: rgb(240, 240, 240);
    text-indent: 12px;
}

.finance_submit_button {
    background-color: rgb(56, 106, 32);
    border-radius: 20px;
    width: 90%;
    height: 40px;
    top: 0px;
    left: 0px;
    border: none;
    color: white;
}
#finance_search_input{
    border-radius: 20px;
    width: 95%;
}

.finance_submit_button:hover {
    cursor: pointer;
    background-color: rgb(217, 232, 203);
    color: rgb(32, 32, 32);

}

button {
    font-family: inherit
}

.finance_input_header {
    text-align: center;
    color: rgb(32, 32, 32)
}


label {
    position: absolute;
    top: -12px;
    font-size: 13px;
    left: 15px;
    background: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 2px;
    color: gray;
    font-weight: bold;
}

.button_box {
    height: 50px;
    width: 100%;
}

.main_body {
    display: grid;
    grid-template-areas: 'navbar content';
    grid-template-columns: 1fr 10fr;

    position: fixed;
    /* this prevents a scrollbar*/
    top: 0px;
    left: 0px;
    width: 100%;
}

.navbar {
    grid-area: navbar;
}

.navbar button {
    background-color: rgb(60, 56, 54);
    color: white;
    padding: 1rem 2rem 1rem 1rem;
    text-align: left;
    border: 1px solid gray;
    border-radius: 20px;
    width: 80%;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
}
.navbar button:hover{
    cursor: pointer;
    filter: brightness(130%);
}

.content {
    grid-area: content;
}

.navbar_img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px
}

tr {
    border: 1px solid gray;
}

td {
    padding: 10px;
    margin: 10px;
}

.obj_table {
    border-spacing: 0 10px;
}

.obj_table td {
    padding-bottom: 10px;
    background-color: rgb(60, 56, 54, 0.9);

}

th {
    font-size: large;
    text-align: left;
}


.objectives_label {
    all: initial;
}

.obj_input_box {
    position: relative;
    padding: 0 0 20px;
    float: left;
    margin: 20px
}

.finance_component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.default_bounding_box {
    background-color: rgb(60, 56, 54, 0.9);
    border: 1px solid gray;
    border-radius: 20px;
    margin: 2px;

}

.obj_remove_button:hover {
    cursor: pointer;
    filter: brightness(130%);
}

@media only screen and (max-width: 900px) {
    body {
        background-image: none;
        background-color: rgb(32,32,32);
    }

    .main_body {
        display: grid;
        grid-template-areas: 'navbar'
            'content';

        grid-template-columns: 1fr;
        grid-template-rows: minmax(min-content, max-content);

        position: relative;
        /* this opens a scrollbar*/
    }

    .navbar button {
        width: 40%
    }

    .navbar_img {
        display: none;
    }

    .finance_component {
        grid-template-columns: 1fr;

    }

    .finance_input_header {
        color: white;
    }

    .obj_input_box {
        padding: 0px;
    }

    .background_video {
        display: none;
    }

    .obj_input_box {
        margin: 0px
    }
    .content{
        width: 100vw;
    }
    .obj_table{
        table-layout: fixed;
        width: 100vw;
    }
    td{
        word-wrap: break-word;
    }
    td:nth-child(1) {
        width: 15vw;
        }
    
    

}