button{
    word-break: keep-all;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    margin: 10px 0 10px 0;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
}

button:hover{
    cursor:pointer;
    background-color: rgb(50,50,50);
}

button>img{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px
}

@media screen and (max-width: 900px) {
    span{
        visibility:hidden;
    }
    button{
        width: 14%;
    }

  }