

button {
    background-color: rgb(60, 56, 54);
    color: white;
    padding: 1rem;
    text-align: left;
    border: 2px solid white;
    border-radius: 20px;
    width: 90%;
    margin: 10px 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
}

button:hover{
    cursor:pointer;
    background-color: rgb(50,50,50);
}

button>img{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px
}

@media screen and (max-width: 900px) {
    span{
        visibility:hidden;
    }
    button{
        width: 14%;
    }

  }