<div class="nav">
  <button routerLink="/"> <img src="../../assets/home.png" class="navbar_img"> <span>Home</span></button>
  <button routerLink="/objectives"><img src="../../assets/objectives.png" class="navbar_img"> <span>Objectives</span></button>
  <button routerLink="/finance"> <img src="../../assets/shards.png" class="navbar_img"> <span>Finance</span></button>
  <button routerLink="/finance_input"> <img src="../../assets/finance_input.png" class="navbar_img"><span>New Transaction</span>
    </button>
  <button routerLink="gym"> <img src="../../assets/gym.png" class="navbar_img"> <span>Gym ↗️</span></button>
  <button routerLink="cooking"> <img src="../../assets/cooking.png" class="navbar_img"> <span>Cooking ↗️</span></button>
  <button routerLink="journal"> <img src="../../assets/journal.png" class="navbar_img"> <span>Journal ↗️</span></button>

</div>