body{
    background-color: black;
}
.input_box {
    position:relative;
    padding: 0 0 20px;
    width:100%;
    box-sizing:border-box;
}

input,select{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(240,240,240);
    width:100%;
    box-sizing:border-box;
}

.finance_submit_button{
    background-color: rgb(56,106,32);
    border-radius: 20px;
    width: 100%;
    height: 40px;
    top: 0px;
    left: 0px;
    border: none;
    color: white;
}

.finance_submit_button:hover{
    cursor: pointer;

}

button{
    font-family: inherit
}

label {
    position: absolute;
    top: -12px;
    font-size: 13px;
    left: 15px;
    background: rgb(240,240,240);
    border-radius: 5px;
    padding: 2px;
    color:gray;
    font-weight: bold;
}
.button_box {
    height: 50px;
    width:100%;
    box-sizing:border-box;
}

.main_body{
    display:grid;
    grid-template-areas: 'navbar content';
    grid-template-columns: 1fr 10fr;

    position: fixed; /* this prevents a scrollbar*/
    top: 0px;
    left: 0px;
    width: 100%;
}

.navbar{
    grid-area: navbar;
}

.navbar button{
    background-color: rgb(60,56,54);
    color: white;
    padding: 1rem 5rem 1rem 1rem;
    text-align: left;
    border: 1px solid gray;
    border-radius: 20px;
    width: 90%;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.navbar button:hover {
    filter: brightness(130%);

}


.content{
    grid-area: content;
}

.navbar_img{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px

}

tr{
    border: 1px solid gray;
}
td{
    padding: 10px;
    margin: 10px;
}

.obj_table{
    width: 98%;
    border-spacing: 0 10px; 

 

}

.obj_table td{
    padding-bottom: 10px;
    background-color: rgb(60,56,54, 0.9);

}

th{ 
    border: 1px solid gray;
    font-size: large;
    text-align: left;
}


.objectives_label{
    all: initial;
}

.obj_input_box {
    position:relative;
    padding: 0 0 20px;
    float: left;
}

.finance_component{
    grid-template-columns: 1fr 1fr 1fr;

}

.default_bounding_box{
    background-color: rgb(60,56,54, 0.9);
    border: 1px solid gray;
    border-radius: 20px;

}
.obj_remove_button:hover{
    cursor: pointer;
    filter: brightness(130%);
}
.obj_remove_button{
    border-radius: 10px;

}
.obj_priority_box{
    border-radius: 10px;
    width: 20%;
}


@media only screen and (max-width: 900px) {
    body{
        background-color: rgb(32,32,32);
    }
    .main_body{
        display:grid;
        grid-template-areas:    'navbar'
                                'content';

        grid-template-columns: 1fr;
        grid-template-rows: minmax(min-content, max-content);

        position: relative; /* this opens a scrollbar*/
    }
    .navbar button{
        width: 20%
    }
    .navbar_img{
        display: none;
    }
    .finance_component{
        grid-template-columns: 1fr;
     
    }
    .background_video{
        display: none;
    }

}