
.input_box {
    position:relative;
    padding: 0 0 20px;
    width:100%;
    box-sizing:border-box;
}

input,select{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(240,240,240);
    width:100%;
    box-sizing:border-box;
}

button{
    font-family: inherit
}

label {
    position: absolute;
    top: -12px;
    font-size: 13px;
    left: 15px;
    background: rgb(240,240,240);
    border-radius: 5px;
    padding: 2px;
    color:gray;
    font-weight: bold;
}
.button_box {
    height: 50px;
    width:100%;
    box-sizing:border-box;
}


.main_body{
    display:grid;
    grid-template-areas:    'technical technical'
                            'navbar content';
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 50px 100%;

    position: fixed; /* this prevents a scrollbar*/
    top: 0px;
    left: 0px;
    width: 100%;
}

.technical{
    grid-area: technical;
}

.navbar{
    grid-area: navbar;
}

.navbar button{
    background-color: rgb(60,56,54);
    color: white;
    padding: 1rem 5rem 1rem 1rem;
    text-align: left;
    border: 1px solid gray;
    border-radius: 20px;
    width: 90%;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.navbar button:hover {
    filter: brightness(85%);

}


.content{
    grid-area: content;
}

.navbar_img{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px

}

tr{
    border: 1px solid gray;
    border-radius: 5px;
}
td{
    padding: 10px;
    margin: 10px;
}

.obj_table{
    width: 98%;
    table-layout: "fixed";
    border-collapse: collapse; 
    background-color: rgb(60,56,54, 0.9);
}

th{
    
    border: 1px solid gray;
    font-size: large;
    text-align: left;
}

.table-scroll {
    height:80vh;
    overflow:auto;  
    margin-top:20px;
}

.objectives_label{
    all: initial;
}

.obj_input_box {
    position:relative;
    padding: 0 0 20px;
    box-sizing:border-box;
}