<br /><br /><br /><br />

<div class="finance_label_box">
  <label>Name</label>
  <input type="text" [(ngModel)]="financeSubmitObject.name" /><br /><br />
</div>

<div class="finance_label_box">
  <label>Value</label>
  <input type="number" [(ngModel)]="financeSubmitObject.value" /><br /><br />
</div>
<div class="finance_label_box">
  <label for="name">Counterpart</label>
  <input
    type="text"
    [(ngModel)]="financeSubmitObject.counterpart"
  /><br /><br />
</div>
<div class="finance_label_box">
  <label>Category</label>
  <select [(ngModel)]="financeSubmitObject.category">
    <option>Bildung</option>
    <option>Diverses</option>
    <option>Filme&Serien</option>
    <option>Freizeit</option>
    <option>Gehalt</option>
    <option>Geschenke</option>
    <option>Haushalt</option>
    <option>Kleidung</option>
    <option>Lebensmittel</option>
    <option>Miete</option>
    <option>Mobilfunk</option>
    <option>Technik</option>
    <option>Transport</option>
  </select>
  <br /><br />
</div>
<div class="finance_label_box">
  <label>Account</label>
  <select [(ngModel)]="financeSubmitObject.account">
    <option value="Deutsche Bank">Deutsche Bank</option>
    <option value="PayPal">PayPal</option>
    <option value="Bargeld">Bargeld</option>
    <option value="Commerzbank">Commerzbank</option>
  </select>
  <br /><br />
</div>
<div class="finance_label_box">
  <label>Date</label>
  <input type="date" [(ngModel)]="financeSubmitObject.date" /><br /><br />
</div>
<div class="finance_label_box">
  <button
    [disabled]="notSubmitAllowed"
    type="submit"
    (click)="onSubmitChange()"
  >
    Send request
  </button>
</div>
