* {
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 2fr) minmax(200px, 1fr);
    grid-template-areas:
      "column1 column2 column2 column4";
    gap: 10px;
  }
  
  .column {
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "column1"
        "column2"
        "column3"
        "column4";
      height: auto;
    }
  }
  