<button mat-raised-button color="primary" routerLink="/memory">Memory</button>
<button mat-raised-button color="primary" routerLink="/klotski">Klotski</button>
<button mat-raised-button color="primary" routerLink="/pather">Pather</button>
<button mat-raised-button color="primary" routerLink="/sudoku">Sudoku</button>
<button mat-raised-button color="primary" routerLink="/chess">Chess</button>
<button mat-raised-button color="primary" routerLink="/about-me">About Me</button>
<!--<button mat-raised-button color="primary" routerLink="/finance">Finance</button>-->
<div style="margin-top: 5px;"></div>
<router-outlet ></router-outlet>
