<div class="center">
  <mat-card style="background-color: rgb(129, 116, 160); padding: 5px">
    <table>
      <tr>
        <td>
          <button
            *ngFor="let item of [+1, -1]"
            mat-raised-button
            color="primary"
            (click)="changeCardAmount(item)"
          >
            {{ item > 0 ? "+" + item : item }}
          </button>

          <button mat-raised-button color="primary" (click)="onOff()">
            On/Off
          </button>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Mode</mat-label>
            <mat-select (selectionChange)="onModeChange($event)">
              @for (item of gameModes; track item) {
              <mat-option [value]="item">{{ item }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-card>
</div>
<br />
<div class="center">
  <div
    class="grid"
    [ngStyle]="{
      'grid-template-rows': 'repeat(' + gridTemplateRows + ', 1fr)'}"
  >
    <div
      class="position"
      *ngFor="let card of board; let i = index"
      (click)="clickTile(i)"
    >
      <img
        *ngIf="card.isVisible && card.hasImage"
        [src]="'assets/' + iconPath + '/' + card.element + '.png'"
      />
      <div
        *ngIf="card.isVisible"
        [style]="card.hasImage ? '' : 'font-size: 300%'"
      >
        {{ card.displayName }}
      </div>
    </div>
  </div>
</div>