mat-grid-tile:hover{
    cursor: pointer;
}


.background-tile{
    width:80%; height:80%;
    place-items: center;
    background-color: rgb(117, 164, 127);
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.center-align{
    display: flex; justify-content: center; align-items: center; color: white;
}