<div style="display: flex; justify-content: center; align-items: center">
  <mat-grid-list
    [cols]="WIDTH"
    rowHeight="100px"
    [style.width]="WIDTH + '00px'"
  >
    <mat-grid-tile *ngFor="let card of game.board; let i = index">
      <button class="background-tile" mat-raised-button (click)="clickTile(i)">
        <img
          *ngIf="card.isVisible"
          style="width: 100%; height: 100%"
          [src]="'assets/anno-1800-plants/' + card.element + '.png'"
        />
      </button>
      <div
        *ngIf="card.isVisible"
        style="
          position: absolute;
          bottom: 10px;
          color: white;
          font-size: xx-small;
        "
      >
        {{ card.element }}
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  
</div>

<div style="display: flex; justify-content: center; align-items: center; color: white; ">
  <button mat-raised-button (click)="changeCardAmount(1)" style="font-size: xx-large;">
   +
  </button>

  <a style="margin-right: 20px;"></a>

  <button mat-raised-button (click)="changeCardAmount(-1)" style="font-size: xx-large;">
    -
  </button>
</div>
<br>

<div style="display: flex; justify-content: center; align-items: center; color: white;">
  <mat-card  appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        Current Game
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      pairs: {{game.pairs}} <br>
      pairsFound: {{game.pairsFound}} <br>
      mistakes: {{mistakes}} <br>
      <span *ngIf="youKnowMe">You know me</span>
    </mat-card-content>
  </mat-card>
</div >
