<div class="center">
  <div class="grid">
    <div
      *ngFor="let tile of board; index as i"
      (click)="clickPosition(i)"
      class="position"
      [ngStyle]="{'background-color': blockColors[tile]}"

    >
    </div>
  </div>
</div>

<div class="center">
  <button mat-raised-button color="primary" (click)="solve()">Solve</button>
</div>


<!--
  I HAVE A VOICE MESSAGE IN VOIDE RECORDE OUTLINING THE NEXT STEPS!!!
  MY FAV GAME <3
  Just needs a bit tweaking here and there + real world <3
-->