<div class="center">
  <div class="grid" [ngStyle]="{'grid-template-columns' : 'repeat('+WIDTH+', 1fr)'}">
    <div
      *ngFor="let tile of board; index as i"
      (click)="clickPosition(i)"
      class="position"
      [ngStyle]="getDynamicStyle(tile, i)"

    >
    </div>
  </div>
</div>

<div class="center">
  <button mat-raised-button color="primary" (click)="solve()">Solve</button>
</div>


<!--
  I HAVE A VOICE MESSAGE IN VOIDE RECORDE OUTLINING THE NEXT STEPS!!!
  MY FAV GAME <3
  Just needs a bit tweaking here and there + real world <3
-->