<div style="display: flex; justify-content: center; align-items: center">
  <mat-grid-list [cols]="'8'" rowHeight="60px" [style.width]="'480px'">
    <mat-grid-tile *ngFor="let position of board.pieces; let i = index">
      <button
        class="background-tile"
        [ngStyle]="{ 'background-color':getPositionColor(i), 'border': getBorderColor(i)}"
        mat-raised-button
        (click)="selectPosition(i)"
      > 
      
        <img
          *ngIf="position.fenIdentifier"
          style="width: 45px; height: 45px;margin: auto; display: block;"
          [src]= "'assets/chess/' + Mapping[position.fenIdentifier] + '.png'"
        />
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div style="display: flex; justify-content: center; align-items: center">
  <mat-card style="color: white;">
    <mat-card-header><mat-card-title>
      ToDo's
    </mat-card-title></mat-card-header>
    <mat-card-content>
      Missing: Rochade, en Passant, Pinned Piece, Checkmate?
    </mat-card-content>
    <mat-card-content>
      Idea: Get a list of all possible moves everytime
    </mat-card-content>
    <mat-card-content>
      Or: When calling legal-moves.ts: Is there a rook, bishop or queen blocking the way?
      For this: Store the position of all pieces separatly
    </mat-card-content>
  </mat-card>
</div>
