<div class="center">
  <div class="grid">
    <div
      *ngFor="let position of board.pieces; let i = index"
      class="position"
      [ngStyle]="{
        'background-color': getPositionColor(i),
        border: getBorderColor(i)
      }"
      [ngClass]="{'selectedPosition': i === selectedPosition}"
      mat-raised-button
      (click)="selectPosition(i)"
    >
      <img
        [ngClass]="
          position.fenIdentifier == position.fenIdentifier.toLowerCase() &&
          flippedBlack
            ? 'flippedBlack'
            : ''
        "
        *ngIf="position.fenIdentifier"
        class="img"
        [src]="'assets/chess/' + Mapping[position.fenIdentifier] + '.png'"
      />
    </div>
  </div>
</div>

<br />

<div class="center" *ngIf="isPawnPromotion">
  <app-pawn-promotion [visibleIdentifier]="isPawnPromotion" (newItemEvent)="onChildItemClicked($event)" ></app-pawn-promotion>
</div>

<div class="center">
  <button mat-raised-button color="primary" (click)="flipBlack()">
    Flip Black
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="changePositionManually(-1)"
  >
    <mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>Back
  </button>
</div>

<div class="center">
  <mat-form-field>
    <mat-label>FEN</mat-label>
    <input matInput type="text" [(ngModel)]="loadableFEN">
    <button matSuffix mat-icon-button (click)="loadFen(loadableFEN)">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-form-field>
</div>
<!--<button mat-raised-button color="primary" (click)="changePositionManually(1)">
  <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
</button>
-->
<!--
<div class="center">
  <mat-card style="color: white;">
    <mat-card-header><mat-card-title>
      ToDo's
    </mat-card-title></mat-card-header>
    <mat-card-content>
      Missing: Rochade, en Passant, Pinned Piece, Checkmate?
    </mat-card-content>
    <mat-card-content>
      Idea: Get a list of all possible moves everytime by running the moveGen on each piece
    </mat-card-content>
    <mat-card-content>
      Or: When calling legal-moves.ts: Is there a rook, bishop or queen blocking the way?
      For this: Store the position of all pieces separatly
    </mat-card-content>
    <mat-card-content>
      Idea: One-click for each action
    </mat-card-content>
    <mat-card-content>
     Idea: human vs human
    </mat-card-content>
    <mat-card-content>
      Idea: Low-level computer opponent
    </mat-card-content>
    <mat-card-content>
      Idea: Tree search :P (Learning excercise)
    </mat-card-content>
    <mat-card-content>
      Moving back and forth on the board using arrows
    </mat-card-content>
  </mat-card>
</div>
-->
