/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Comfortaa-Regular; /*a name to be used later*/
    src: url('assets/Comfortaa-Regular.ttf') format("opentype"); /*URL to font*/
}

html, body { height: 100%; }
body { 
    margin: 0; font-family: Comfortaa-Regular; 
    background-image: url('assets/lo_fi_room_by_vortx0069_dey8gpi-pre.jpg');
background-size: cover;}

*{
    font-family: Comfortaa-Regular;
}