/* You can add global styles to this file, and also import other style files */


body{
    
    background-image: url("assets/2070_eco.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


*{
    font-family: 'MyWebFont';
    color: white
}
body { 
    margin: 0; 
    /*font-family: Roboto, "Helvetica Neue", sans-serif; */}

@font-face {
    font-family: 'MyWebFont'; 
    src: url('assets/oita_regular.ttf')
}

input, select{
    background-color: rgba(60, 56, 54,0.5);
}

@media screen and (max-width: 900px) {
    body{
        background-image: none;
        background-color: rgb(32,32,32);
    }

}