/* You can add global styles to this file, and also import other style files */


body{
    background-color: rgb(32,32,32);
}


*{
    font-family: 'MyWebFont';
    color: white
}
body { 
    margin: 0; 
    /*font-family: Roboto, "Helvetica Neue", sans-serif; */}

@font-face {
    font-family: 'MyWebFont'; 
    src: url('assets/oita_regular.ttf')
}