<div class="center">
    <div class="grid">
        <div *ngFor="let row of grid; let i = index">
            <div 
            [ngClass]="((j + i) % 2 === 0 ? 'lightColor' : 'darkColor')" class="tile"
                *ngFor="let tile of row; let j = index">
                <img 
                *ngIf="tile.image"
                [style.transform]="'rotate(' + tile.rotation + 'deg)'"
                 [src]="'assets/hamster/'+tile.image" style="position: absolute;">
                {{i+" "+j}}
            </div>

        </div>

    </div>

</div>
<br>
<div class="center">
    <button mat-raised-button color="primary" (click)="findNearestObjects()"><mat-icon aria-hidden="false"
        fontIcon="swap_vert"></mat-icon>
    FindNearestObjects
    </button>
</div>
