<form class="finance-input">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="transaction.name" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Value</mat-label>
      <input matInput [(ngModel)]="transaction.value" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  
    <br>
  
    <mat-form-field>
      <mat-label>Counterpart</mat-label>
      <input matInput [(ngModel)]="transaction.counterpart" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  
    <br>
  
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="transaction.category" [ngModelOptions]="{standalone: true}">
        @for (item of categories; track item) {
          <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  
    <br>
    <p>Optional settings for manual input</p>
  
    <mat-form-field appearance="fill">
      <mat-label>Date (Leave empty for today)</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="transaction.date" [ngModelOptions]="{standalone: true}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Accounts</mat-label>
      <mat-select [(ngModel)]="transaction.accounts" [ngModelOptions]="{standalone: true}">
        @for (item of accounts; track item) {
          <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  
  
  </form>

  <button mat-raised-button color="accent" (click)="send()"><mat-icon>send</mat-icon>Send</button>

  <div *ngIf="error" style="color:red">
    (!) Something went wrong
  </div>