<div class="center">
  <mat-grid-list id="board" cols="8">
    <mat-grid-tile *ngFor="let piece of board.grid; let i = index">
     
      <button 
      (click)="collectClick(i)"
      [style.backgroundColor]="getSquareStyle(i)? 'rgb(101, 96, 96)' : 'rgb(200, 195, 187)'"
      
      class="background-tile" mat-raised-button>

      <img 
      *ngIf="piece.img"
      style=" width: 90px; height: 90px;"
      [alt]="i%8"
      [src]="piece.img" />
         
        </button>
     
       

    </mat-grid-tile>
  </mat-grid-list>
</div>
