<div class="bg-image" style="height: 95vh;">

  <div class="center">
    <mat-grid-list
      [cols]="'9'"
      [rowHeight]="WIDTH / 9 + 'px'"
      gutterSize="1px"
      [style.width]="WIDTH + 'px'"
    >
      <mat-grid-tile *ngFor="let position of board; let i = index">
        <button class="position" [ngStyle]="getBorderStyle(i)" mat-raised-button 
        (click)="selectPosition(i)">
          <a *ngIf="position !== 0">
            {{ position }}
          </a>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <br>
  <div class="center">
   <button mat-raised-button
   *ngFor="let item of numberSelector"
   (click)="selectNumber(item)"
   >  {{item}}
  </button>
  </div>

  <br>

  <div class="center">
    <button mat-raised-button color="primary" (click)="newGame()">New Game</button>
  </div>

</div>
